---
---

<div class="bg-[#545] p-10 w-full">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-7xl mx-auto">
        <div
            class="flex flex-col text-white/80 text-center items-center justify-center"
        >
            <h3 class="font-bold">Para tu seguridad</h3>
            Las im치genes SOLO se utilizan para generar los fondos de pantalla. Tanto
            las im치genes que subes se eliminan autom치ticamente en 24 horas. Tus renders
            se guardan para tu comodidad durante 30 d칤as.
        </div>
        <div
            class="flex flex-col text-white/80 text-center items-center justify-center"
        >
            <h3 class="font-bold">Nota 游</h3>
            La IA puede tener resultados aleatorios y puede incluir desnudos art칤sticos,
            im치genes er칩ticas o impactantes, si no quieres eso y eres sensible, 춰te
            recomendamos que NO uses este sitio!
        </div>
    </div>
</div>
